{% extends "base.html" %}

{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-2-3">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        {{curso.descricao}}
                    </h1>
                    <h2 class="splash-subhead">
                        {{curso.conteudo|linebreaksbr}}
                    </h2>
                    <h4 class="viewlink">Aula com {{curso.tipo_hora_aula|linebreaksbr}} minutos</h4>
                    <h4 class="viewlink">Média para aprovação {{curso.media_aprovacao|linebreaksbr}}</h4>
                    <h4 class="viewlink"><a target="_blank" href="{{curso.ppc|linebreaksbr}}">PPC</a> </h4>
                    <h4 class="content-subhead">{{curso.ch_total}} horas</h4>
                    <p>
                        <a href="{% url 'listar_cursos' %}" class="pure-button primary-button">Voltar</a>
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Curso.">
                </div>
            </div>
        </div>
    </div>
{% endblock %}