{% extends 'base.html' %}
{% block head %}
    <title>Acadêmico - Matricula</title>
{% endblock %}
{% block content %}
    <div class="conteudo ">
        <form action="{% url 'efetuar_matricula' %}" method="POST" class=" center pure-u-1-3 pure-form pure-form-stacked">
        {% csrf_token %}
            <div class="pure-control-group">
                <div class="pure-u-1 pure-u-md-1-3">
                    {{ form.as_p }}
                </div>
                <div class="pure-controls">
                    <div class="pure-u-1-3 text-center"
                    <button class="pure-button pure-button-primary" type="submit">Cadastrar</button>
                </div>
            </div>
    </div>
        </form>
    </div>
{% endblock %}