{% extends "base.html" %}

{% block content %}
<div class="splash">
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="l-box splash-text">
        <h1 class="splash-head">
          Acadêmico - Uma plataforma de registro acadêmico
        </h1>
        <h2 class="splash-subhead">
          O Acadêmico busca facilitar o controle acadêmico através de funcinalidades de fácil uso.
        </h2>
        <p>
          <a href="#" class="pure-button primary-button">Saiba mais</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
      <div class="l-box">
        <h4 class="content-subhead">Cadastre-se</h4>
        <h3>Faça seu cadastro</h3>
        <p>
          Através do seu cadastro poderá realizar sua matrícula, conhecer nossos cursos, o corpo doscente e nossas instalações ...
        </p>
      </div>
    </div>
    <div class="pure-u-1-3">
      <div class="l-box">
        <img src="http://placehold.it/400x250"
             alt="Cadastro.">
      </div>
    </div>
  </div>
  <div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
      <div class="l-box">
        <img src="http://placehold.it/400x250"
             alt="Matrícula">
      </div>
    </div>
    <div class="pure-u-2-3">
      <div class="l-box">
        <h4 class="content-subhead">Matricule-se</h4>
        <h3>Matricule-se e seja um de nossos alunos</h3>
        <p>
          Através da matrícula no Acadêmico você pode garantir sua vaga e ter acesso ao conteúdo do curso.
        </p>
      </div>
    </div>
  </div>
  <div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
      <div class="l-box">
        <h4 class="content-subhead">Cursos</h4>
        <h3>Conheça nososos cursos</h3>
        <p>
          Cursos com conteúdo voltado ao mercado de trabalho para você se capacitar.
        </p>
      </div>
    </div>
    <div class="pure-u-1-3">
      <div class="l-box">
        <img src="http://placehold.it/400x250"
             alt="Cursos">
      </div>
    </div>
  </div>
  <div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
      <div class="l-box">
        <img src="http://placehold.it/400x250"
             alt="Mural de Avisos">
      </div>
    </div>
    <div class="pure-u-2-3">
      <div class="l-box">
        <h4 class="content-subhead">Mural de Avisos</h4>
        <h3>Oportunidades de estágio para alunos</h3>
        <p>
          Conheça as vagas disponíveis.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}